
[submodule "Pick2Me-User-Service"]
	path = Pick2Me-User-Service
	url = https://github.com/iamsribin/Pick2Me-User-Service.git
[submodule "Pick2Me-Gateway-Service"]
	path = Pick2Me-Gateway-Service
	url = https://github.com/iamsribin/Pick2Me-Gateway-Service.git
[submodule "Pick2Me-Client-Service"]
	path = Pick2Me-Client-Service
	url = https://github.com/iamsribin/Pick2Me-Client-Service.git
[submodule "Pick2Me-Driver-Service"]
	path = Pick2Me-Driver-Service
	url = https://github.com/iamsribin/Pick2Me-Driver-Service.git
[submodule "Pick2Me-Payment-Service"]
	path = Pick2Me-Payment-Service
	url = https://github.com/iamsribin/Pick2Me-Payment-Service.git
[submodule "Pick2Me-Booking-Service"]
	path = Pick2Me-Booking-Service
	url = https://github.com/iamsribin/Pick2Me-Booking-Service.git
[submodule "Pick2Me-Realtime-Service"]
	path = Pick2Me-Realtime-Service
	url = https://github.com/iamsribin/Pick2Me-Realtime-Service.git
[submodule "Pick2Me-Shared"]
	path = Pick2Me-Shared
	url = https://github.com/iamsribin/Pick2Me-Shared.git
